<ion-card>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-chip outline="false" color="primary">
          <ion-avatar>
            <img src="/assets/Images/Healthgram/Dr.Farzad.jpg">
          </ion-avatar>
          <ion-label>Dr.Farzad</ion-label>
        </ion-chip>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <img src="/assets/Images/Healthgram/madison.jpg">
  <ion-toolbar>
    <ion-buttons>
      <ion-button color="dark" slot="start">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-text color="medium" class="ion-margin">5 March 2020</ion-text>
      <ion-button color="dark">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-margin">
    <div>
      <ion-label color="dark">23,256 likes</ion-label>
    </div>
    <div class="ion-margin">
      <ion-label color="medium" class="font-bold">Dr.Farzad </ion-label>
      <ion-label>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ab, sit deserunt temporibus architecto
        dolore
        saepe aliquam eius error, ipsam qui. Minima perferendis, sint id voluptatibus repudiandae aliquam quidem
        tempora.
      </ion-label>
    </div>
    <ion-row>
      <ion-text color="dark">View all 4,342 Comments</ion-text>
    </ion-row>
  </ion-row>
</ion-card>